@model IEnumerable<HomeWorkLayots.Data.Model.Category>
@{
    ViewData["Title"] = "Shop";
}
<div class="row m-3">
    <div class="col-3 border border-dark ">
        <ul class="navbar-nav">
            @foreach (var category in Model)
            {
                <li class="p-2"><a href="~/Home/Category?categoryid=@category.ID">@category.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-9 border text-sm-center">
        <div class="align-content-center">
            <h6>Set your name:</h6>
            <form method="post" action="/Home/Index">
                <div class="text-center">
                    <p><input type="text" name="name" /></p>
                    <p><input type="submit" value="Submit" /></p>
                </div>
            </form>
        </div>
    </div>
</div>