<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <div class="nav">
        <div class="col-md-12 m-1" style="font-size: x-large;">
            <a asp-area="" asp-controller="Home" asp-action="Index">Shop</a>
        </div>
    </div> 
    
    <nav class="navbar navbar-expand navbar-light m-3 justify-content-center rounded"   style="background-color: #b0c4de; display: block; border: solid black;"> 
        <ul class="navbar-nav flex-grow-1 justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" >|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" >|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
        </ul>
        <div class="container"> </div>
    </nav>
</header>
    <div class="container-fluid h-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom rounded m-3 font-weight-lighter" style="background-color: #b0c4de; border: solid black; bottom: 0; position: absolute;">
        <div class="text-sm-center">
           Copyright 2020
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
